/* logo items */

#logoC {
    max-width: 100%;
    display: block;
    margin: auto;
    background-image: url("original.gif");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: #000000 0 0 10px inset;
}

#logo {
    display: block;
    margin: auto;
    background-image: url("original.gif");
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    box-shadow: #000000 0 0 10px inset;
}

#logo > h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-100%);
}

/*

.logoName {
    font-size: 20px;
    color: #ffffff;
    text-shadow: #000000 0 0 10px;
}
*/

/* logo item end */

/* header */

#title > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 30px;
    text-align: center;
    line-height: 9px;
}

header {
    background-image: url("header.png");
    background-position: center;
    width: 900px;
    border-radius: 15px;
    max-width: 100%;
    margin: auto;
    box-shadow: #000000 0 0 5px inset;
}

/* header end */

/* navigator */

p {
    font-family: "cursive", URW Chancery L, cursive;
}

h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
}

.navigator {
    padding: 0px;
    background-image: url("background-1.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: 0 -2px 2px -2px #000000;
}

.navigator > ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.navigator > ul > li {
    display: inline-block;
    padding: 0;
}

.navigator a {
    display: inline-block;
    padding: 5px 20px 5px;
    color: #232323;
    font-family: 'Chicle', cursive;
    font-size: 20px;
    text-decoration: none;
    text-shadow: #232323 0 0 5px;
}

.navigator a:hover {
    background-color: #232323;
    opacity: 0.8;
    color: #ffffff;
    text-shadow: #ffffff 0 0 9px;
    box-shadow: #000000 0 0 5px inset;
}

/* end nav */

/* body */

body {
    background-color: #232323;
}

#content {
    margin: auto;
    width: 900px;
    height: 400px;
    background-color: #515151;
    box-shadow: #000000 0 0 10px inset;
    border-radius: 5px;
}


#content > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 30px;
    text-align: center;
    line-height: 9px;
}

#content1 img {
    box-shadow: #000000 0 0 10px;
    border-radius: 15px;
}

#content2 {
    margin: auto;
    width: 900px;
    height: 1000px;
    background-image: url("titlecol1.jpg");
    background-color: #515151;
    background-position: center;
    background-size: cover;
    box-shadow: #000000 0 0 30px;
    border-radius: 5px;
}

#content3 {
    margin: auto;
    width: 900px;
    height: 300px;
    background-color: #515151;
    box-shadow: #000000 0 0 10px inset;
    border-radius: 5px;
}

#content4 {
    margin: auto;
    width: 900px;
    height: 900px;
    background-color: #515151;
    box-shadow: #000000 0 0 10px inset;
    border-radius: 5px;
}

#content4 img {
    box-shadow: #000000 0 0 10px;
    border-radius: 15px;
}

#content4 > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 30px;
    text-align: center;
    line-height: 9px;
}


#content5 {
    margin: auto;
    width: 900px;
    height: 320px;
    background-color: #515151;
    box-shadow: #000000 0 0 10px inset;
    border-radius: 5px;
}

#content5 img {
    box-shadow: #000000 0 0 10px;
    border-radius: 15px;
}

#content5 > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 30px;
    text-align: center;
    line-height: 9px;
}

#content6 {
    margin: auto;
    width: 900px;
    height: 280px;
    background-color: #515151;
    box-shadow: #000000 0 0 10px inset;
    border-radius: 5px;
}

#content6 img {
    box-shadow: #000000 0 0 10px;
    border-radius: 15px;
}

#content6 > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 30px;
    text-align: center;
    line-height: 9px;
}

body {
    background-image: url("background-1.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* body */

/* Buttons */

.button {
    background-color: #515151;
    box-shadow: #000000 0 0 10px inset;
    border-radius: 10px;
    width: 190px;
    padding: 1px;
}

.button:hover {
    background-color: #666666;
    color: #232323;
    text-shadow: #000000 0 0 9px;
    box-shadow: #000000 0 0 10px inset;
}

.button > a {
    font-family: "cursive", URW Chancery L, cursive;
    text-decoration: none;
    color: aliceblue;
    font-size: 50px;
}

/* button end */

hr {
    width: 850px;
}



table {
    display: inline-block;
    border-spacing: 5px;
}

/* sections */

.section1 {
    float: left;
    width: 250px;
    position: relative;
    left: 25px;
}

.section2 {
    float: left;
    width: 600px;
    position: relative;
    left: 20px;
}

.section2 > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 15px;
}

.section2 > h2 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 20px;
    text-align: left;
    line-height: 15px;
}

.section2 > p {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
}

.section2 > hr {
    width: 600px;
    box-shadow: #000000 0 0 10px;
}

.section1 img {
    box-shadow: #000000 0 0 10px;
    border-radius: 15px;
}

.section2 img {
    box-shadow: #000000 0 0 10px;
    border-radius: 15px;
}

.section3 {
    float: left;
    width: 200px;
    position: relative;
    left: 40px;
}

.section4 {
    float: left;
    width: 650px;
    position: relative;
    left: 10px;
}

.section4 > hr {
    width: 670px;
    box-shadow: #000000 0 0 10px;
}

.section4 > h1 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 30px;
    text-align: center;
    line-height: 15px;
}

.section4 > h2 {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}

.section4 > p {
    font-family: "cursive", URW Chancery L, cursive;
    color: aliceblue;
    text-shadow: #000000 0 0 10px;
}

/* end sections */
